<div class="container-full">

    <div class="row home-bar transparent">

      <div class="col-lg-12 text-center">
        <h1>Who funds Congress?</h1>
        <p class="lead">Find out who is funding your Congress people.</p>
      </div>


    </div> <!-- /row -->
    <div class="row">
      <form class="col-lg-12">
        <div class="input-group">
          <input class="form-control input-lg" title="Enter your zip to find your Congress people" placeholder="Enter your zip code" type="text">
          <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">go</button></span>
        </div>
      </form>
    </div>

    <br><br><br><br><br>

</div> <!-- /container full -->

<section id="about" class="container content-section text-center">
  <div class="row">
    <h1>Why is this important?</h1>
    <div class="col-md-4">
      <h3>Reason</h3>
      <p>Reason reason reason reason reason reason reason reason reason reason reason reason reason reason reason.</p>
    </div>
    <div class="col-md-4">
      <h3>Reason</h3>
      <p>Reason reason reason reason reason reason reason reason reason reason reason reason reason reason reason.</p>
    </div>
    <div class="col-md-4">
      <h3>Reason</h3>
      <p>Reason reason reason reason reason reason reason reason reason reason reason reason reason reason reason.</p>
    </div>
  </div>
</section>
