<div class="container-full">

    <div class="row top-margin transparent">

      <div class="col-xs-12 text-center">
        <span class="giant-font">Who funds Congress?</span>
        <p class="lead">Find out who is funding your Congress people.</p>
      </div>

    </div> <!-- /row -->

    <div class="row">
      <form class="col-xs-12">
        <div class="input-group">
          <%= form_for(:legislator, url: legislators_path, method: "get", enforce_utf8: false) do |f| %>
            <%= search_field_tag("zipcode", nil, class: "form-control input-lg", placeholder: "Enter your zipcode", title: "Enter your zip to find your Congress people") %>
            <span class="input-group-btn"><%= f.submit("go", class: "btn btn-lg btn-primary") %></span>
          <% end %>
        </div>
      </form>
    </div>

    <br><br><br><br><br><br>

    <div class="bottom-of-splash">
      <p>
        Photo by Bjoertvedt (own work) [<a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a> or <a href="http://www.gnu.org/copyleft/fdl.html">GFDL</a>], <a href="http://commons.wikimedia.org/wiki/File%3AUS_Congress_02.jpg">via Wikimedia Commons</a>
      </p>
    </div>

</div> <!-- /container full -->
