<div class="container-full">

    <div class="row top-margin transparent">

      <div class="col-xs-12 text-center">
        <span class="giant-font">Who funds Congress?</span>
        <p class="lead">Find out who has been funding your representatives in Congress.</p>
      </div>

    </div> <!-- /row -->

    <div class="row">
      <div class="col-xs-12">
        <form action="/legislators" accept-charset="UTF-8" method="get">
          <div class="input-group">
            <input type="text" name="zipcode" class="form-control input-lg" placeholder="Enter your zipcode" title="Enter your zip to find your legislators">
            <span class="input-group-btn"><input type="submit" name="commit" value="go" class="btn btn-lg btn-primary"></span>
          </div>
        </form>
      </div>
    </div>

    <br><br><br><br><br><br>

    <div class="bottom-of-splash">
      <p>
        Photo by Bjoertvedt (own work) [<a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a> or <a href="http://www.gnu.org/copyleft/fdl.html">GFDL</a>], <a href="http://commons.wikimedia.org/wiki/File%3AUS_Congress_02.jpg">via Wikimedia Commons</a>
      </p>
    </div>

</div> <!-- /container full -->
