<header class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="brand-box">
          <h1 class="brand-heading">Who<span> funds </span>Congress?</h1>
          <p class="intro-text">Find out who is funding your Congress people.</p>
        </div>
      </div>
    </div>
  </header>
</div>
