<div class="container">
  <div class="row top-margin">
    <div class="col-xs-12 center-block">
      <h1>My Legislators</h1>
    </div>
  </div>
  <div class=row>
    <div class="col-xs-12 center-block">
      <% @legislators.each do |legislator| %>
      <hr>
      <h3><%= legislator.full_name_and_title %></h3>
      <ul>
        <li>Funding source # 1</li>
        <li>Funding source # 2</li>
        <li>Funding source # 3</li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
