<div class="container">
  <div class="row top-margin">
    <div class="col-xs-12 center-block">
      <h1>My Legislators</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 center-block">
      <% if !current_user || current_user.zipcode %>
        <%= render @legislators, year: @year %>
      <% else %>
        <%= link_to "Add a zipcode to your profile so your legislators will appear here", user_path(current_user) %>
      <% end %>
    </div>
  </div>
</div>
