<div class="container">
  <div class="row top-margin">
    <div class="col-xs-12 center-block">
      <h1>My Legislators</h1>
    </div>
  </div>
  <div class=row>
    <div class="col-xs-12 center-block">
      <% @legislators.each do |legislator| %>
      <hr>
      <h3><%= legislator.full_name_and_title %></h3>
      <ul class="contributors_for_legislator_<%= legislator.id %>">
        <% legislator.contributors.each do |contributor| %>
          <li><%= contributor.name %> -- <%= number_to_currency(contributor.total_amount) %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</div>
