/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
@text-color: #191d1b;
 @import url(http://fonts.googleapis.com/css?family=Merriweather:400,900italic|Oxygen);

 .alert.alert-info {
   background-color: rgba(25, 29, 27, 0.7);
   font-family: 'Oxygen', sans-serif;
   font-size: 20px;
   color: #f6fee9;
   margin-bottom: 0;
   border: none;
 }

 .alert-container {
   margin-top: 4%;
   position: absolute;
   height: 0;
   width: 100%;
 }

 .fa-facebook-square.fa-2x {
   color: #3b5998;
 }

 .fa-twitter-square {
   color: #00aced;
 }

 .fa-youtube-square {
   color: #bb0000;
 }

 .navbar.ul.li.fa.fa-facebook-square {
   color: rgba(208, 212, 195, 0.6);
 }

 .fa.fa-5x {
   color: rgba(208, 212, 195, 0.6);
 }
