// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,body {
  height:100%;
  background-color:#d0d4c3;
}

p, div {
  font-family: 'Oxygen', sans-serif;
  color:#191d1b;
}

.giant-font {
  font-family: 'Merriweather', serif;
  color:#191d1b;
  font-size:65px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  color:#191d1b;
}

.fa {
  color: rgba(208, 212, 195, 0.6);

}

.lead {
  color:#191d1b;
  font-size:35px;
  font-family: 'Oxygen', sans-serif;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#d0d4c3;
  background: image-url("congress.jpg") no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.transparent {
  padding-top:3%;
  background: rgba(208, 212, 195, 0.6);
  padding-bottom:3%;
}

.top-margin {
  margin-top:10%;
}

.input-group {
  width:340px;
  text-align:center;
  margin:0 auto;
  margin-top: 2%;
}

.input-lg {
  background-color: #f6fee9;
}

.btn {
  background-color: #37588d;
  color: #f6fee9;
  border:none;
}

.navbar-inverse {
  background-color: #162338;
  border:none;
}

.navbar a {
  color: #9fa49f !important;
}

.navbar a:hover {
  color: #f6fee9 !important;
}

.navbar .navbar-brand {
  font-family: 'Merriweather', serif;
  color: #8fa0c4 !important;
}

.content-section {
  min-height: 100%;
  padding-top:200px;
  padding-bottom:200px;
}
