<tr>
  <td><%= row.name %></td>
  <td><%= number_to_currency(row.employee_amount) %></td>
  <td><%= number_to_currency(row.direct_amount) %></td>
  <td><%= number_to_currency(row.total_amount) %></td>
</tr>
