<div class="alert-container text-center">
  <% if flash %>
    <% flash.each do |key, message| %>
    <div class="alert alert-info" role="alert">
      <%= message %>
    </div>
    <% end %>
  <% end %>
</div>
